.navbar-toggler:hover {
  border: none !important;
  outline: 2px solid black;
}

.navbar-toggler:focus {
  border: none !important;
  outline: 2px solid black;
}

.links__container {
  margin-left: auto;
}

.login__container {
  margin-right: 0;
  margin-left: auto;
}

.login__container button {
  border: none;
  color: #000000A6 ;
}

.login__container button:hover {
  border: none;
}

.username__container {
  display: flex;
  align-items: center;
  text-decoration: underline;
  padding: 5px;
}


@media (max-width: 992px) {


  .username__container {
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
  }

  .login__container {
    background-color: #dededea6;
  }
}
