@import "/styles/partials/navbar.css";
@import "/styles/partials/cards.css";
@import "/styles/partials/loader.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(218, 217, 217) !important;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.filter__container,
h1 {
  text-align: center;
  margin-bottom: 2em;
}

#title {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

form,
.message__container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

button {
  box-shadow: 0 6px 10px rgba(99, 99, 99, 0.1) !important;
  border: none !important;
}

.color {
  height: 10px;
  width: 10px;
}

.message {
  color: grey;
}

.error {
  border-color: red;
  color: red;
}

.error__input {
  color: red;
  border: 2px solid red !important;
}

.success {
  color: rgb(0, 95, 0);
  font-size: 1.2em;
}

.success__input {
  border: 2px solid rgb(0, 163, 0) !important;
}

.clean--btn__container {
  text-align: center;
  margin-top: 2rem;
  display: none;
}

#add_article__form,
#edit_article__form {
  display: none;
}

.btn {
  border: none !important;
}

@media (max-width: 450px) {

  .results__container,
  #title {
    width: 90%;
    margin: 0 auto;
  }

  .btn__container {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}