@import "/styles/partials/navbar.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: aqua;
}

.filter__container,
h1 {
  text-align: center;
  margin-bottom: 2em;
}

#title {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.results__container,
.favourites__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightblue !important;
  padding: 10px;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.card:nth-child(odd) {
  background-color: lightcoral !important;
}

.card span {
  font-style: oblique;
  font-size: 16px;
}

.card button,
.card a {
  text-align: center;
  font-size: 14px;
  width: 100%;
  padding: 2px 7px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid white;
}

.card a {
  text-decoration: none;
  color: black;
}

.btn__container {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

button:hover,
.card a:hover {
  border: 2px solid black;
}

.color {
  height: 10px;
  width: 10px;
}

.message {
  border: 1px solid grey;
  color: grey;
  margin-top: 1rem;
  padding: 1rem;
}

.error {
  border-color: red;
  color: red;
}

.error__input {
  color: red;
  border: 2px solid red !important;
}

.success {
  color: rgb(42, 254, 42);
  font-size: 1.2em;
}

.success__input {
  border: 2px solid rgb(129, 255, 129) !important;
}

.clean--btn__container {
  text-align: center;
  margin-top: 2rem;
  display: none;
}

#add_article__form,
#edit_article__form {
  display: none;
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #333;
  border-color: #333 transparent #333 transparent;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (max-width: 450px) {
  .results__container,
  #title {
    width: 90%;
    margin: 0 auto;
  }
}


